*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --black-900:#2A2B2E;
    --black-400: #939599;
    --black-300:#BABDC2;
    --black-200:#D7D8DB;
    --black-100: #E8E9EA;
    --black-50: #F9FAFC;
    --green-900:#386770;
    --green-800: #3D6C75;
    --green-400: #7A9499;
    --green-300:#A7C1C7;
    --green-600: #4B7982;
    --green-100:#E1EDF0;
    --green-700:#40717A;
    --green-200:#CAE1E6;
    --green-50: #F1F9FB;
    --white:#FFFFFF;
    --yellow-100: #FAFAEB;
    --yellow-200: #F5F5D3;
    --yellow-300: #F0F0C0;
    --yellow-400: #E3E3CC;
    --red-800: #E25151;
    --red-100: #F2DADA;

}

@font-face {
    font-family: 'Zen Antique Soft';
    src: url(../fonts/ZenAntiqueSoft-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url(../fonts/Manrope-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url(../fonts/Manrope-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url(../fonts/Manrope-ExtraBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url(../fonts/Manrope-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, p, span {
    font-weight: normal;
    font-style: normal;
    color: var(--black-900);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-indent {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-xl {
    font-family: 'Zen Antique Soft';
    font-size: 48px;
    line-height: 1.2;
}

.title-lg {
    font-family: 'Zen Antique Soft';
    font-size: 40px;
    line-height: 1.3;
}

.title-md {
    font-family: 'Zen Antique Soft';
    font-size: 32px;
    line-height: 1.3;
}

.title-sm {
    font-family: 'Manrope-SemiBold';
    font-size: 24px;
    line-height: 1.5;
}

.title-xs {
    font-family: 'Manrope-SemiBold';
    font-size: 20px;
    line-height: 1.6;
}

.subtitle {
    font-family: 'Manrope-SemiBold';
    font-size: 18px;
    line-height: 1.5;
}

.subtitle-underline {
    font-family: 'Manrope-SemiBold';
    font-size: 18px;
    line-height: 1.6;
    text-decoration-line: underline;
}

.paragraph-lg {
    font-family: 'Manrope-Regular';
    font-size: 18px;
    line-height: 1.6;
}

.paragraph-md {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    line-height: 1.6;
}

.paragraph-sm {
    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 1.7;
}

.icon-sm {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon-md {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.icon-lg {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.icon-xl {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.icon-sm svg,
.icon-md svg,
.icon-xl svg {
    width: 100%;
    height: 100%;
}

.wrapp {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #386770;
}

.button {
    align-items: center;
    display: inline-flex;
    font-family: 'Manrope-ExtraBold';
    border-width: 0;
    white-space: nowrap;
    cursor: pointer;
}

.button svg {
    /* fill: currentColor; */
    /* stroke: currentColor; */
}

.button span {
    color: inherit;
}

/* style */

.button-primary {
    color: var(--white);
    background: var(--green-900);
}

.button-primary:hover {
    background: var(--green-700);
    cursor: pointer;
}

.button-primary:active {
    background: var(--green-600);
}

.button-primary:disabled {
    background: var(--green-300);
    color: var(--green-100);
    cursor: no-drop;
}



.button-secondary {
    color: var(--green-900);
    background: var(--green-100);
    transition: box-shadow .3s linear;
}

.button-secondary:not(:disabled):hover {
    box-shadow: 0 0 0 1px var(--green-900); 
    cursor: pointer;
}

.button-secondary:not(:disabled):active {
    box-shadow: 0 0 0 2px var(--green-900); 
    
}

.button-secondary:disabled {
    color: var(--green-300);
    cursor: no-drop;
}



.
tertiary {
    color: var(--green-900);
    background: var(--yellow-100);
}

.button-tertiary:not(:disabled):hover {
    background: var(--yellow-200);
    cursor: pointer;
}

.button-tertiary:not(:disabled):active {
    background: var(--yellow-300);
}

.button-tertiary:disabled {
    background: var(--black-100);
    color: var(--black-300);

}

/* size */
    
.button-lg{
    padding: 20px 52px;
    border-radius: 48px;
    font-size: 16px;
    line-height: 1.5;
    gap: 16px 16px;
}

.button-md {
    padding: 16px 32px;
    border-radius: 48px;
    gap: 0 16px;
    font-size: 16px;
    line-height: 1.5;
}

.button-sm {
    padding: 12px 28px;
    border-radius: 48px;
    gap: 0 12px;
    font-size: 16px;
    font-weight: 1.5;
}

/* Input */

.contacts-form {
    width: 552px;
    background: var(--white);
    padding: 56px;
    background: var(--black-50);
    margin-left: auto;
}

.textfield {
    position: relative;
    display: inline-block;
    width: 100%;
    background: var(--black-50);
}

.textfield-label {
    position: absolute;
    left: 21px;
    top: -11px;
    background: inherit;
    color: var(--green-900);
    font-family: 'Manrope-Medium';
    font-size: 12px;
    line-height: 1.5;
    padding: 0 5px;
}

.textfield-control {
    padding: 14px 50px 14px 24px;
    box-shadow: inset 0 0 0 1px var(--green-900);
    border-radius: 24px;
    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 1.7;
    color: var(--green-900);
    width: 100%;
    border: none;
    outline: none;
    transition: box-shadow .3s linear;
    background: inherit;
}

.textfield-control::placeholder {
    color: var(--green-900);
}

.textfield-control:focus {
    box-shadow: inset 0 0 0 2px var(--green-900);
}

.textfield-control:not(:empty) {
    box-shadow: inset 0 0 0 2px var(--green-900);
}

.textfield-control:disabled {
    box-shadow: inset 0 0 0 1px var(--black-200);
    color: var(--black-200);
}

.textfield-control:disabled + .textfield-label {
    color: var(--black-200);
}

.textfield-control:disabled::placeholder {
    color: var(--black-200);
}

.textfield-control:not(:placeholder-shown):invalid {
    box-shadow: inset 0 0 0 1px var(--red-800);
    color: var(--red-800);
}

.textfield-control:not(:placeholder-shown):invalid + .textfield-label {
    color: var(--red-800);
}

.textfield-error-icon {
    display: none;
    position: absolute;
    top: 14px;
    right: 27px;
}

.textfield-control:not(:placeholder-shown):invalid ~ .textfield-error-icon {
    display: block;
}

.textfield-error-text {
    display: none;
}

.textfield-control:not(:placeholder-shown):invalid ~ .textfield-error-text {
    display: inline-block;
    font-family: 'Manrope-Medium';
    font-size: 12px;
    line-height: 1.5;
    color: var(--red-800);
    margin-top: 8px;
    margin-left: 24px;
}

.textarea-size {
    height: 150px;
    resize: none;
}

/* article */

.article {
    width: 360px;
}

.article-pic {
    width: 100%;
    margin-bottom: 24px;
}

.article-time {
    font-family:'Manrope-Regular';
    font-size: 14px;
    line-height: 1.7;
    color: var(--green-900);
    margin-bottom: 8px;
}

.article-title {
    font-family: 'Zen Antique Soft';
    font-size: 28px;
    line-height: 1.3;
    margin: 0 0 24px 0;
    color: var(--black-900);
}

.article-description {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    line-height: 1.6;
    color: var(--black-900);
}

.article:hover .article-title{
    text-decoration-line: underline;
    color: var(--green-900);
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

/* services */

.service-wrap {
    width: 552px;
}

.service {
    width: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.service-title {
    font-family: 'Zen Antique Soft';
    font-size: 32px;
    line-height: 1.3;
    margin: 0 0 24px 0;
}

.service-description {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 48px 0;
}

.service-price {
    margin-top: auto;
}

.price-value {
    font-family: 'Zen Antique Soft';
    font-size: 32px;
    line-height: 1.3;
}

.price-hour {
    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 1.7;
}

.service-green-800 {
    background: var(--green-800);
}

.service-green-800 .service-title {
    color: var(--white);
}

.service-green-800 .service-description {
    color: var(--green-300);
}

.service-green-800 .price-value {
    color: var(--white);
}

.service-green-800 .price-hour {
    color: var(--green-300);
}

.service-green-050 {
    background: var(--green-50);
}

.service-green-050 .service-title {
    color: var(--green-900);
}

.service-green-050 .service-description {
    color: var(--green-900);
}

.service-green-050 .price-value {
    color: var(--green-900);
}

.service-green-050 .price-hour {
    color: var(--green-300);
}

.service-white {
    background: var(--white);
}

.service-white .service-title {
    color: var(--green-900);
}

.service-white .service-description {
    color: var(--green-900);
}

.service-white .price-value {
    color: var(--green-900);
}

.service-white .price-hour {
    color: var(--black-300);
}

.service-green-900 {
    background: var(--green-900);
}

.service-green-900 .service-title {
    color: var(--white);
}

.service-green-900 .service-description {
    color: var(--white);
}

.service-green-900 .price-value {
    color: var(--white);
}

.service-green-900 .price-hour {
    color: var(--black-300);
}

.service-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* checkbox */


.checkbox-control {
    display: none;
}

.checkbox-view {
    display: block;
    border: 1.5px solid var(--black-200);
    border-radius: 6px;
    width: 22px;
    height: 22px;
}

.checkbox-control:not(:disabled) + .checkbox-view:hover {
    border-color: var(--green-900);
    border-radius: 6px;
    cursor: pointer;
}

.checkbox-control:not(:disabled) + .checkbox-view:active {
    background-color: var(--green-100);
    border: 2px solid var(--green-900);
}

.checkbox-control:not(:disabled) + .checkbox-view:focus {
    border: 1.5px solid var(--green-600);
    box-shadow: 0 0 0 3px var(--green-200);
}


.checkbox-control:checked + .checkbox-view {
    background-image: url(../assets/check.svg);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--green-600);
    border-color: var(--green-600);
}

.checkbox-control:checked + .checkbox-view:hover { 
    background-color: var(--green-900);
    border-color: var(--green-900);
}

.checkbox-control:checked + .checkbox-view:active {
    background-color: var(--green-400);
    border-color: var(--green-400);
}

.checkbox-control:checked + .checkbox-view:focus {
    background-color: var(--green-600);
    border-color: var(--green-600);
}

.checkbox-control:checked:disabled + .checkbox-view{
    background-color: var(--green-200);
    border-color: var(--green-200);
}

/* breadcrumbs */

.bread-crumbs-list {
    display: flex;
}

.bread-crumbs-item:not(:last-child):after {
    content: '/';
    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 1.7;
    margin-right: 4px;
    color: var(--black-400);
}

.bread-crumbs-link {
    color: var(--black-400);
}

.bread-crumbs-span {
    color: var(--black-900);
}

/* questions */

.wrapper {
    width: 744px;
}
.icon-min {
    display: none;
}

.accordion-body {
    display: none;
}

.question:checked + .accordion-button .accordion-label .icon-plus {
    display: none;
}

.question:checked + .accordion-button .accordion-label .icon-min {
    display: inline-block;
}

.question:checked + .accordion-button + .accordion-body {
    display: block;
    padding-bottom: 40px;
}

.question:checked + .accordion-button .accordion-label {
    border-bottom: none;
    margin-bottom: 0;
}

.question:not(:checked):last-of-type + .accordion-button .accordion-label {
    margin-bottom: 0;
}

.question:last-of-type:checked ~ .accordion-body {
    border-bottom: 1px solid var(--black-100);
}


.accordion-label {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button:not(:last-of-type) {
    border-bottom: 1px solid var(--black-100);
}

.accordion-body {
    margin: 0;
}

.question:not(:checked) + .accordion-button .accordion-label:hover .text {
    color: var(--green-900);
    cursor: pointer;
}


/* notification */

.notification {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 125px;
    max-width: 250px;
    padding: 16px 32px;
    border-radius: 32px;
    background: var(--green-100);
}

.notification-text {
    font-family: 'Manrope-ExtraBold';
    font-size: 14px;
    line-height: 1.7;
    color: var(--green-900);
}

.notification-error {
    background: var(--red-100);
}

.notification-text-error {
    color: var(--red-800);
}

/* header */

.header {
    padding: 16px 0;
}

.container-header {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: auto;
}

.nav-item:not(:first-child) {
    margin-left: 32px;
}

.header-button {
    margin-left: 48px;
}

.language-selection-wrapp {
    margin-left: 24px;
}

.nav-list {
    display: flex;
}

.nav-link { 
    color: var(--black-900);
}

.language-selection:checked + .language-selection-label {
    color: var(--green-900);
}

.language-selection:checked + .language-selection-label svg {
    transform: rotate(180deg);
}

.language-selection:checked + .language-selection-label svg path { 
    stroke: var(--green-900);
}

/* introduce */
.left-column,
.right-column {
    width: 50%;
    flex: 1 1 50%;
}

.introducing {
    background-color: var(--yellow-100);
}

.introducing-left-column {
    padding-right: 30px;
}

.container-introdusing {
    display: flex;
}

.introducing-title {
    display: block;
    margin: 0 0 48px 0;
}

.introducing-goal {
    border-bottom: 1px solid var(--yellow-400);
    border-top: 1px solid var(--yellow-400);
    padding: 32px 0;
    margin-bottom: 32px;
}

.introdusing-principles {
    margin-bottom: 48px;
}

.portrait {
    width: 100%;
}

.button-wrapper {
    display: inline-block;
    position: relative;
}

.book-tip {
    position: absolute;
    right: -140px;
    top: 35px;
    width: 100px;
    height: 76px;
    background-image: url(../assets/Frame1869.svg);
}

/* service */

.services {
    background-color: var(--green-900);
}

.container-service-item {
    width: 50%;
    padding: 12px;
}

.container-services {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.services-header {
    text-align: center;
    color: var(--white);
    margin: 0 0 64px 0;
}

.services-button-icon svg path {
    fill: var(--green-900)
}

.services-button-wrapper {
    text-align: center;
    margin-top: 64px;
}

/* education */

.education-container {
    display: flex;
}

.education-header {
    margin: 120px 0 64px 0;
}

.education-link {
    color: var(--black-900);
}

.education-list-item {
    position: relative;
    padding: 48px 0 48px 56px;
    border-top: 1px solid var(--black-100);
}

.education-list {
    margin-right: 120px;
}

.education-list-item::before {
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    top: 59px;
    width: 10px;
    height: 10px;
    background-color: var(--green-900);
    border-radius: 50%;
}

.education-list-item::after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../assets/link\ arrow.svg) center no-repeat;
    transform: translateY(5px);
    margin-left: 5px;
}

.right-column-header {
    margin: 0 0 48px 0;
}

.education-paragraph {
    margin-bottom: 24px;
}

.education-background {
    width: 100%;
    height: 650px;
    background: url(../assets/education.svg), url(../assets/Vector15.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.education-background {
    margin-top: -250px;
}

.certificates {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--green-50);
}

.sertiificates-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 24px;
}

.certificate-button-green900 {
    border: none;
    outline: none;
    background-color: var(--green-50);
}

.certificate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 0 22px;
}

.circle {
    background: var(--green-900);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: none;
    outline: none;
    padding: 0;
}

.circle-light {
    background: var(--green-200);
}

/* blog */

.blog-header {
    margin: 0;
    text-align: center;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
    margin-top: 64px;
}

.blog-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.blog-link-text {
    font-family: 'Manrope-ExtraBold';
    font-size: 16px;
    line-height: 1.5;
    color: var(--green-900);
}

.blog-button-icon {
    margin-left: 10px;
}

/* psy-help */

.psy-help-container {
    display: flex;
}

.psy-help-picture {
    display: inline-block;
    width: 480px;
    height: 352px;
    background-image: url(../assets/hands.png);
}

.psy-help-header {
    margin: 0 0 24px 0;
}

.psy-help-description {
    margin-bottom: 48px;
}

.psy-help {
    background-color: var(--yellow-100);
}

/* questions */

.questions {
    padding: 120px 0;
}

.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-header {
    margin: 0 0 24px 0;
}

.questions-link {
    text-decoration: underline;
    margin-bottom: 64px;
    color: var(--green-900);
}

/* footer */


.contacts {
    padding-top: 120px;
    background-color: var(--green-900);
}

.navigation-first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
    border-bottom: 1px solid var(--green-600);
}

.navigation-first-part-title {
    margin: 0;
    color: var(--white);
}

.navigation-second-part {
    margin-top: 89px;
}

.footer-pic {
    background-image: url(../assets/footer.png);
    background-repeat: no-repeat;
    background-size: 456px 498px;
}

.navigation-flex {
    display: flex;
    justify-content: flex-end;
}

.footer-title {
    margin: 0 0 32px 0;
}

.footer-list {
    width: 264px;
}

.footer-title {
    color: var(--white);
}

.footer-list-point {
    margin-bottom: 16px;
    position: relative;
    color: var(--green-200);
}

.footer-contact, .footer-telegram, .footer-adress {
    padding-left: 35px;
}

.footer-contacts-list .footer-list-point::before {
    content: '';
    width: 24px;
    height: 24px;
    left: 0;
    top: 3px;
    display: block;
    position: absolute;
}

.footer-contact::before {
    background: url(../assets/phone.svg);
}


.footer-telegram::before {
    background: url(../assets/telegram.svg);
}

.footer-adress::before {
    background: url(../assets/location.svg);
}

.social-media-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 120px 0 60px 0;
}

.social-media-item {
    margin-left: auto;
}

.second-flex-link {
    text-decoration: underline;
    color: var(--white);
}

.second-flex-decor {
    color: var(--white);
    margin: 0 5px 0 5px;
}

.second-flex-info {
    margin-right: 40px;
    color: var(--white);
}

.footer-list-link {
    color: var(--green-200);
}

.footer-list-link:hover {
    color: var(--white);
}

.social-media {
    display: flex;
    gap: 0 26px;
    align-items: center;
}

.social-icon:hover, .social-media-link:hover {
    color: var(--white);
}

.social-media-link-white:hover {
    color: var(--green-600);
}

.social-media-link {
    color: var(--green-200);
}

.social-media-link-white:hover svg path {
    fill: var(--yellow-200);
}

.footer-separator:not(:last-child):after {
    content: '|';
    color: var(--white);
    font-family: 'Manrope-Regular';
    font-size: 14px;
    line-height: 1.7;
    margin-left: 4px;
}

/* page about me */

.about-me-preamle {
    width: 648px;
    padding: 80px 0 120px 0;
}

.about-me-header {
    margin: 0 0 32px 0;
}

.about-me-topic {
    display: flex;
    padding-bottom: 120px;
}

.about-me-picture {
    width: 100%;
}

.about-me-title {
    margin: 0 0 32px 0;
}

.about-me-item {
    display: flex;
    position: relative;
}

.about-me-item::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid var(--green-900);
    margin-right: 26px;


    /* TODO: READ! */
    flex-shrink: 0;
    margin-top: 10px;
}

.about-me-indent {
    padding-right: 120px;
}

.about-me-topic:nth-child(odd) .right-column {
    padding-left: 120px;
}

.about-me-topic:nth-child(odd) .left-column {
    order: 1;
}

.about-me-topic:nth-child(odd) .right-column {
    order: 2;
}

.about-me-topic:nth-child(even) .right-column {
    padding-right: 120px;
}

.about-me-topic:nth-child(even) .right-column {
    order: 1;
}

.about-me-topic:nth-child(even) .left-column {
    order: 2;
}

/* appointment */

.appointment-description {
    width: 451px;
    padding-left: 96px;
}

.appointment-title {
    margin: 0 0 24px 0;
}

.appointment-paragraph {
    margin-bottom: 48px;
}

.appointment-background {
    background: rgb(166, 174, 189);
    background-image: url(../assets/aboutme-photo.jpg);
    background-size: cover;
    position: relative;
    z-index: 2;
}

/* single service */

.individual-consultation {
    display: flex;
    margin-top: 80px;
}

.service-induvidual-consultation {
    background-color: var(--yellow-100);
    padding: 24px 0 120px 0;
}

.individual-consultation-header {
    margin: 0 0 24px 0;
}

.individual-consultation-price {
    padding-bottom: 26px;
    border-bottom: 1px solid var(--yellow-400);
}

.individual-consultation-paragraph {
    margin-top: 24px;
}

.individual-consultation-button {
    margin-top: 48px;
}

.individual-consultation-picture {
    display: inline-block;
    background-image: url(../assets/individual-consultation-picture.png);
    width: 456px;
    height: 428px;
}

.other-services-header {
    margin: 0 0 64px 0;
    text-align: center;
}

.other-services-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    align-items: stretch;
}

.other-services-list {
    max-width: 360px;
}

.other-services-article {
    height: 100%;
}

/* my services */
.my-services {
    padding: 80px 0 120px 0;
}

.my-services-header {
    margin: 0 0 64px 0;
    text-align: center;
}

/* blog */

.blog-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    padding-bottom: 64px;
}

.blog-preamble {
    padding: 80px 0 70px 0;
    width: 552px;
    text-align: center;
}

.blog-header {
    margin-bottom: 32px;
}

.blog-filter {
    display: flex;
    justify-content: center;
    gap: 20px 20px;
    margin-bottom: 70px;
}

.button-blog {
    color: var(--green-900);
    background: var(--white);
    border: 1px solid var(--green-200);
}

.button-blog-active {
    border: 2px solid var(--green-900);
}

.blog-article-big {
    display: flex;
    justify-content: space-between;
    padding-top: 368px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
    flex-shrink: 0;
}

.blog-picture {
    background-image: url(/assets/blog-pic-big.jpg), linear-gradient(180deg, rgba(42, 43, 46, 0) 50%, rgba(42, 43, 46, 0.64) 100%);;
    width: 100%;
    background-size: cover;
}

.blog-button {
    margin-top: auto;
}

.blog-title {
    width: 467px;
    color: var(--white);
    margin: 0;
}

.blog-data {
    color: var(--yellow-100);
}

/* contacts  */

.contacts-container {
    display: flex;
}

.button-contacts {
    width: 100%;
    justify-content: center;
}

.contacts-button-flex-wrapper {
    display: flex;
}

.form-indent-sm {
    margin-bottom: 24px;
}

.form-indent-lg {
    margin-bottom: 32px;
}

.checkbox-indent {
    margin-left: 10px;
}

.contacts-list {
    position: relative;
}

.contacts-list-tel::before {
    content: '';
    position: absolute;
    background: url(/assets/contacts-tel.svg);
    width: 24px;
    height: 24px;
    top: 27px;
    left: 0;
}

.contacts-list-telegram::before {
    content: '';
    position: absolute;
    background: url(/assets/contacts-telegram.svg);
    width: 24px;
    height: 24px;
    top: 27px;
    left: 0;
}

.contacts-list-location::before {
    content: '';
    position: absolute;
    background: url(/assets/contacts-location.svg);
    width: 24px;
    height: 24px;
    top: 27px;
    left: 0;
}

.contacts-list:not(:last-child) {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--green-100);
}

.contacts-list {
    padding-top: 24px;
}

.contact-list {
    max-width: 360px;
}

.contacts-right-column {
    display: flex;
}

.contacts-text {
    margin-bottom: 64px;
}

.contacts-social-media {
    margin-top: 65px;
}

.contacts-map {
    width: 100%;
    height: 460px;
}

.contacts-list-link {
    color: var(--black-900);
}

/* book my time */

.book-button {
    border: 0;
    font-family: 'Manrope-ExtraBold';
    font-size: 16px;
    line-height: 1.5;
    color: var(--green-900);
    background-color: var(--yellow-100);
}

.book-button-text {
    margin-left: 21px; 
}

.book-my-time-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 33px 0 33px;
    background-color: var(--yellow-100);
}

.book-my-time-close {
    border: 0;
    background-color: var(--yellow-100);
}

.book-my-time-leader {
    margin: 0 0 32px 0;
}

.book-my-time-body .container {
    display: flex;
}

.book-my-time-indent {
    padding-top: 70px;
    padding-left: 120px;
}

.book-header {
    margin: 0 0 24px 0;
}

.book-my-time-body {
    background-color: var(--yellow-100);
}

.book-my-time-body-indent {
    padding: 108px 0 228px 0;
}